/* Navbar */
.container .navbar-nav .nav-item .nav-link{
    color: white;
    font-size: 18px;
}

nav{
    background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));
}

/* Main Section */
.container .col-sm-6 img{
    max-width: 100%;
}

.container .d-flex .p-2 h3{
    font-size: 18px;
}

.container .d-flex .p-2{
    text-align: center;
    flex: 1;
    background-color: #E5E7EB;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    margin: 0 25px;
    box-shadow: 10px 10px 5px lightblue;
}

.container .row .col-lg-4 img{
    max-width: 100%;
}
/*nav{
    background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));

}

nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.navbar-brand{
    color: white;
    font-size: 25px;
}

.card-header button{
    float:right;
    margin-right: 65px;
    margin-top: 65px;
}

.card-header button a{
    color: white;
    text-decoration: none;
}*/
/* Footer */
footer{
    text-align: center;
    background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));
    padding: 15px;
    color: white;
}