nav{
    background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));

}

nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.navbar-brand{
    color: white;
    font-size: 25px;
}

.card-header button{
    float:right;
    margin-right: 65px;
    margin-top: 65px;
}

.card-header button a{
    color: white;
    text-decoration: none;
}
/* Footer */
footer{
    text-align: center;
    background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));
    padding: 15px;
    color: white;
}