body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
}

form{
    background-color: #E5E7EB;
    margin: 60px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form h2{
    text-align: center;
}

form h2 a{
    text-decoration: none;
    color:black;
}

form .form-group{
    padding: 10px;
}

@media screen and (max-width: 768px) {
    form {
        padding: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}