/* Navbar */
.container .navbar-nav .nav-item .nav-link{
    color: white;
    font-size: 18px;
}

nav{
    background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));
}

/* Main Section */
.container .col-lg-6 img{
    max-width: 100%;
}

.container .d-flex .p-2 h3{
    font-size: 18px;
}

.container .d-flex .p-2{
    text-align: center;
    flex: 1;
    background-color: #E5E7EB;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    margin: 0 25px;
    box-shadow: 10px 10px 5px lightblue;
}

.container .row .col-lg-4 img{
    max-width: 100%;
}

/* Search bar */
.search-bar{
    background-color: #E5E7EB;
    min-height: 55vh;
}

.search-bar .header-section{
    text-align: center;
    padding: 50px;
}

.search-bar .header-section h1{
    font-size: 45px;
}

.search-bar .header-section p{
    font-size: 35px;
}

.content-bar{
    text-align:center;
    padding-bottom: 10px;
}

.content-bar input{
    padding: 10px 0;
    border: 1px solid;
    text-align: center;
}

input, select, button{
    border-radius: 18px;
    padding:10px 35px;
    margin:25px;
    font-size:18px;
    color:grey;
}

.content-bar button{
    background-color: rgb(66, 125, 214);
    border:1px;
    color:white;
}

.content-bar button:hover{
    background-color:gray;
}

.container .card{
    margin:15px;
    padding:20px;
    border: 1px solid rgb(224, 222, 222);
    border-radius: 8px;
}

.container .card a{
    text-decoration: none;
    color:white;
}

.container .card h2{
    font-size: 18px;
    font-style: bold;
    color:rgb(77, 72, 72);
}

.container .card p{
    margin: 5px 0 ;
    color:rgb(77, 72, 72);
}

.container .card button{
    font-size: 15px;
    margin:14px 10px 0px 1px;
    border: 1px;
    padding:10px 25px;
    background-color: rgb(66, 125, 214);
    color: white;
}

.container .card .card-body button a{
    background-color: white;
}
.container .card button:hover{
    background-color:gray;
}

button a{
    text-decoration: none;
    color: white
}

/* Footer */
footer{
    text-align: center;
    background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));
    padding: 15px;
    color: white;
}

@media(max-width: 990px){
    .navbar .container .navbar-nav .nav-item .nav-link{
        font-size: 15px;
        padding-right: 10px;
        margin: 0;
    }

    .navbar .container .navbar-brand{
        font-size: 20px;
    }

    /* Header */
    .container .row{
        flex-direction:column-reverse;
        text-align: center;
    }

    /* Boxes */
    .container .d-flex{
        flex-direction: column;
    }

    .container .d-flex .p-2{
        margin: 15px;
    }

    .job-container .container .row{
        flex-direction: column;
        text-align: center;
    }

    .blog-container{
        text-align: center;
    }

    /* Search bar */
    .search-bar .content-bar{
        flex-direction: column;
    }
}